.classify{float: left;width: 150px;font-size: 23px;text-align: center;height: 300px;border-right: 1px solid darkgray;}
#a{cursor: pointer;}
.rig1{width: 530px;height: 100%;border: 1px solid red;float: right}
.rig2{width: 530px;height: 100%;border: 1px solid red;float: right}
.rig3{width: 530px;height: 100%;border: 1px solid red;float: right}
